<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
  <!-- <div class="row" style="border: solid 1px">TARANG</div> -->
  <div class="row">
  	<div class="sidebar col-lg-2">
  		<app-sidebar></app-sidebar>
  	</div>
  	<div class="mainarea col-lg-10">
  		<router-outlet></router-outlet>
  	</div>
  </div>
</div>
