<div class="allcontent row">
	<div class="formcontent col-lg-7">
		<h1 class="textwhite topheading">Program</h1>

		<ng-container *ngFor="let conf of configurationNames">
			<span class="textgrey">{{ conf }}</span>
			<br/>
			<select *ngIf="isDropdown(conf)"
				(change)="showDescription(conf, $event)"
				[ngModel]="configuration[conf].selectedValue">
				<option *ngFor="let value of configuration[conf].possibleValues"
					[value]="value">
					{{ value }}
				</option>
			</select>
			<app-toggle-switch *ngIf="!isDropdown(conf)"
				[Option1]="(configuration[conf].possibleValues) ? configuration[conf].possibleValues[0] : ''"
				[Option2]="(configuration[conf].possibleValues) ? configuration[conf].possibleValues[1] : ''"
				[currentvalue]="configuration[conf].selectedValue"
				(toggleEvent)="showDescription(conf, $event)">
			</app-toggle-switch>
			<br/>
			<br/>
		</ng-container>

	</div>
	<div class="col-lg-5 textgrey description"
		[innerHtml]="(configuration[descriptionConf]) ? configuration[descriptionConf].description: ''">
	</div>
</div>
