.textwhite {
	color: #ffffff;
	font-family: sans-serif;
}

.formcontent {
	overflow-y: scroll;
	height: 800px;
}

.allcontent {
	padding-top: 40px;
}

.textgrey {
	color: #808080;
}

select {
	background-color: #464545;
	height: 30px;
	border: solid 1px;
	border-color: #000000;
	color: #aba9a9;
}

.description {
	border: solid 1px;
	min-height: 800px;
	border-top: none;
	border-right: none;
	border-bottom: none;
}
