<div class="widgetcontainer" (click)="toggle()">
	<div class="option one" [ngClass]="{ 'active': Opt1Active }"> {{ Option1 }} </div>
	<div class="option two" [ngClass]="{ 'active': !Opt1Active }"> {{ Option2 }} </div>
</div>
