.widgetcontainer {
	border: solid 1px black;
	width: fit-content;
	padding: 2px;
	background-color: #2c97de;
	height: 36px;
	border-radius: 3px;
}

div.option {
	float: left;
	display: inline;
	margin: 1px;
	padding: 2px;
	background-color: #464545;
	color: #464545;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

div.option.active {
	padding: 2px;
	background-color: #2c97de;
	color: #d4eefb;
	border-radius: 3px;
}

div.option.two::after {
	clear: left;
}
