<div class="row" style="margin-top: 50px">
	<div class="col-lg-12 col-md-12 textwhite">
		Download yaml file for the configuration you have edited or, launch a
		job with this configuration in a cluster.
	</div>
	<div class="col-lg-12 col-md-12">
		<a class="btn btn-primary"
			(click)="download()">Download yaml</a>
	</div>
</div>
