<ul class="settingsmenu">
	<li style="padding-left: 30px; margin-bottom: 20px;">
		<img src="assets/logo.png" style="width: 80%"/>
	</li>
	<li class="menuitem" *ngFor="let setting of settings" routerLinkActive="active">
		<a  [routerLink]="setting.path">
			<span class="glyphicon glyphicon-pencil"></span>
			<span> {{ setting.name }} </span>
		</a>
	</li>
</ul>
