ul.settingsmenu {
	list-style: none;
	padding-left: 0px;
	padding-top: 20px;
}

li.menuitem {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 8px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

li.menuitem > a {
	color: #808080;
}

li.menuitem.active {
	background-color: #212121;
}

li.menuitem.active > a {
	color: #ffffff;
}
